body{
    
}
div{
    margin: 200px 0px 0px 100px;
    line-height: 20px;
    font-size: 50px;
    background: linear-gradient(to left,violet,
    indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;>
  }
  #para{
    width: 40%;
    color: black;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
  }